:root{
    --Green: #405621;
    --l-Green: #a1a898;
    --grey: #d9d5d2;
    --beige: #d9cdc0;
    --brown: #49362b;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width : 75%;
    max-width: 900px;
    background-color: var(--l-Green);
    box-shadow: 50px 0px 20px rgb(63, 63, 63);
    font-family:'Tilt Warp', cursive;
    

}
.wrapper{
    box-shadow: 4px 4px 10px black;
    width:100%;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5em;
    background-color: white;

}

/*===================
   welcoming page 
===================== */
ul a {
    color: black;
    padding: 0px 15px 0px 15px;
    text-decoration: none;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 100;
}


ul a:hover{

    border-bottom: 3px black solid;
    padding-bottom: 3px;
    /* font-weight: bold; */

    
}

ul{
    display: flex;
    justify-content: end;
    margin: 5px;
    padding: 10px;
    box-sizing:border-box;
}

.Background-image{
    background-color:rgb(135, 135, 135);
    background-image:url("https://www.rockrobinsid.com/images/blogs/blog-img-013.jpg");
    padding-bottom: 15em;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: right center;
}
h1{ 
    /* font-family: 'Tilt Warp', cursive; */

    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding-top: 3em;
    text-align: center;
    letter-spacing: .3em;
}
h1 p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    letter-spacing: normal;
    font-family: 'Montserrat', sans-serif;


}

/*===================
   Latest Articles 
===================== */

.latest_articles{
    /* display: flex;
    flex-direction: column; */
    background-color: var(--grey);
    padding: 3em;
    /* align-items: center; */
    margin: 1em 0em;
}



h3{
    text-decoration: none;
    /* font-family: 'Tilt Warp', cursive; */
    font-weight:1500;
    color: rgb(0, 0, 0);
    text-align: center;
    letter-spacing:.1em;
}

.container_for_flyers{
    display: flex;
    justify-content: space-evenly;
}


.container_for_flyers :hover{
    opacity: 70%;
    display: flex;
}
 
.flyers{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 270px;
    margin: 20px;
    width: 180px;
    box-shadow: 2px 4px 5px grey;
    border: .6rem white solid;

}

  
#image_flyers{
    /* display: block; */
    width: 100%;
    min-height: 65%;
    /* padding-bottom: 35%; */

    
}

aside h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 0.75em;
    padding: 0.5em;
    width: 100;
    /* text-decoration: none;
    font-style: normal;
    color: black; */
}

/*===================
        About
===================== */


.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.article_about{
    padding: 50px;
    text-align: center;

}
#image_about{
    max-width: 50%;
}


article p {
    font-family: 'Montserrat', sans-serif;
    font-size:small;
    color: rgb(0, 0, 0);
    text-align: justify;

}
nav{
    min-width: fit-content;
}






footer{
    
    background-color:var(--grey) ;
    width: 100%;
    padding: 1.5em;
    /* font-family: 'Tilt Warp', cursive; */
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}
footer input{
    width: 35%;
    color: #49362b;

}
button{
    margin: 1em;
    width: 75px;
    height: 25px;
}
#subscribe{
    margin: 0;
}

/*===================
        Media Q - Tablet
===================== */
@media screen and (max-width:800px){


    .about{
        flex-direction: column;
    }
    #image_about{
        min-width:100%;
    }
    .flyers{

        height: 125px;
        width: 85px;
    }

 
}

